body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}


#start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #020617, #1e293b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-screen h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#start-screen p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#start-btn {
    padding: 15px 40px;
    font-size: 1.2rem;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#start-btn:hover {
    background: #16a34a;
}

/*.firework {*/
/*    position: absolute;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 50%;*/
/*    pointer-events: none;*/
/*    animation: explode 1.2s ease-out forwards;*/
/*}*/

/*@keyframes explode {*/
/*    from {*/
/*        transform: translate(0, 0) scale(1);*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        transform: translate(var(--dx), var(--dy)) scale(0);*/
/*        opacity: 0;*/
/*    }*/
/*}*/


canvas {
    display: none;
    background: #020617;
    margin-top: 74px;
    margin-left: 300px;
}